
#Travis CI

language: php

dist: trusty
sudo: false

php:
 - 7.0

branches:
 - master

before_script:
- cd ..
 - git clone --recursive --branch=master https://github.com/pmmp/PocketMine-MP.git
 - pecl install channel://pecl.php.net/pthreads-3.1.6
 - pecl install channel://pecl.php.net/weakref-0.3.3
 - echo | pecl install channel://pecl.php.net/yaml-2.0.0
 - cd PocketMine-MP
 - mkdir plugins
 - cd plugins
 - wget -O DevTools.phar https://poggit.pmmp.io/r/1104/PocketMine-DevTools.phar
 - cd /home/travis/build/MyMoney-PMMP/
 - cp -rf MyMoney/Travis.php PocketMine-MP
 - cp -rf MyMoney/ PocketMine-MP/plugins/
 - cd PocketMine-MP

script:
 - php Travis.php
 
notifications:
 email: false
